<h1> Expanded Mutation Details </h1>

<p><strong>Title: </strong> <%= @mutation.title %> </p>
<p><strong>Description: </strong><%= @mutation.description %> </p>
<p><strong>Domain: </strong><%= @mutation.domain %> </p>

<p>
    <%= link_to "Return to index", mutations_path %>
</p>