<h1> Showing Mutation Details </h1>

<p><strong>Title: </strong> <%= @mutation.title %> </p>
<p><strong>Description: </strong><%= @mutation.description %> </p>
<p><strong>Domain: </strong><%= @mutation.domain %> </p>