<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Ashleigh Davey">
    <title>Kinesin Mutations Database</title>
  </head>
  <body>
  <p>
  </p>
  <p>
  </p>
  
    <h1> Kinesin Mutations Database </h1>
    <h2>Homepage</h2>
    <p>Some other stuff goes here</p>
  </body>
</html>

